/* 
 * code taken from --> http://www.onextrapixel.com/2013/06/24/creating-a-swipeable-side-menu-for-the-web/
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */
/* line 5, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
	** Body, html variables **
*/
/* grey */
/* line 16, ../sass/swipe.scss */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color: #E8E9EB;
}
/* line 24, ../sass/swipe.scss */
body h1, html h1 {
  font-size: 36px;
  line-height: 30px;
}
/* line 29, ../sass/swipe.scss */
body p, html p {
  position: relative;
  line-height: 20px;
  top: 20px;
}

/* line 36, ../sass/swipe.scss */
.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
/* line 47, ../sass/swipe.scss */
.container.open-sidebar {
  left: 240px;
}

/* Swipe area variables */
/* background near the area around the menu button */
/* grey */
/*$sa-background-color: $background-color; */
/* line 59, ../sass/swipe.scss */
.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 100%;
  background: #E8E9EB;
  z-index: 0;
}

/* sidebar menu variables */
/* Background color of the sidebar menu */
/* blue */
/* The background color of box when hovering over link */
/* blue */
/* Border color at bottom of boxes for links */
/* blue */
/* line 83, ../sass/swipe.scss */
#sidebar {
  background: #94D4FF;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* sidebar ul */
}
/* line 92, ../sass/swipe.scss */
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* ul li */
}
/* line 97, ../sass/swipe.scss */
#sidebar ul li {
  margin: 0;
}
/* line 100, ../sass/swipe.scss */
#sidebar ul li a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #0FB2F2;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 115, ../sass/swipe.scss */
#sidebar ul li:hover a {
  background: #0FB2F2;
}

/* sidebar */
/* main-content variables */
/* Background color of the menu button on main page */
/* Blue */
/* Color of the 3 bars in the menu button on main page */
/* white */
/* line 133, ../sass/swipe.scss */
.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  /* .main-content .content */
  /* .main-content #sidebar-toggle */
}
/* line 141, ../sass/swipe.scss */
.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}
/* line 147, ../sass/swipe.scss */
.main-content .content h1 {
  font-weight: 100;
}
/* line 151, ../sass/swipe.scss */
.main-content .content p {
  width: 100%;
  line-height: 160%;
}
/* line 157, ../sass/swipe.scss */
.main-content #sidebar-toggle {
  background: #94D4FF;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}
/* line 165, ../sass/swipe.scss */
.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
/* line 173, ../sass/swipe.scss */
.main-content #sidebar-toggle .bar:last-child {
  margin-bottom: 0;
}
